*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.-inset-0\.5 {
  inset: -0.125rem;
}

.inset-y-0 {
  top: 0px;
  bottom: 0px;
}

.bottom-\[130px\] {
  bottom: 130px;
}

.bottom-\[320px\] {
  bottom: 320px;
}

.left-0 {
  left: 0px;
}

.left-2\.5 {
  left: 0.625rem;
}

.left-\[85px\] {
  left: 85px;
}

.right-0 {
  right: 0px;
}

.right-\[10px\] {
  right: 10px;
}

.top-0 {
  top: 0px;
}

.top-\[30px\] {
  top: 30px;
}

.top-\[50\%\] {
  top: 50%;
}

.z-10 {
  z-index: 10;
}

.z-50 {
  z-index: 50;
}

.order-3 {
  order: 3;
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.ml-\[10px\] {
  margin-left: 10px;
}

.ml-\[25px\] {
  margin-left: 25px;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.size-6 {
  width: 1.5rem;
  height: 1.5rem;
}

.size-\[100\%\] {
  width: 100%;
  height: 100%;
}

.size-\[10px\] {
  width: 10px;
  height: 10px;
}

.size-\[15px\] {
  width: 15px;
  height: 15px;
}

.size-\[30px\] {
  width: 30px;
  height: 30px;
}

.size-\[50px\] {
  width: 50px;
  height: 50px;
}

.size-\[60px\] {
  width: 60px;
  height: 60px;
}

.h-16 {
  height: 4rem;
}

.h-\[100\%\] {
  height: 100%;
}

.h-\[1px\] {
  height: 1px;
}

.h-\[320px\] {
  height: 320px;
}

.h-\[35px\] {
  height: 35px;
}

.h-\[40px\] {
  height: 40px;
}

.h-\[46px\] {
  height: 46px;
}

.h-\[5px\] {
  height: 5px;
}

.h-\[60px\] {
  height: 60px;
}

.h-\[70px\] {
  height: 70px;
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.w-1\/2 {
  width: 50%;
}

.w-\[100\%\] {
  width: 100%;
}

.w-\[120px\] {
  width: 120px;
}

.w-\[150px\] {
  width: 150px;
}

.w-\[15px\] {
  width: 15px;
}

.w-\[180px\] {
  width: 180px;
}

.w-\[1px\] {
  width: 1px;
}

.w-\[20\%\] {
  width: 20%;
}

.w-\[200px\] {
  width: 200px;
}

.w-\[20px\] {
  width: 20px;
}

.w-\[30px\] {
  width: 30px;
}

.w-\[350px\] {
  width: 350px;
}

.w-\[40\%\] {
  width: 40%;
}

.w-\[45\%\] {
  width: 45%;
}

.w-\[46\%\] {
  width: 46%;
}

.w-\[47\%\] {
  width: 47%;
}

.w-\[48\%\] {
  width: 48%;
}

.w-\[50px\] {
  width: 50px;
}

.w-\[57\%\] {
  width: 57%;
}

.w-\[60px\] {
  width: 60px;
}

.w-\[70\%\] {
  width: 70%;
}

.w-\[80px\] {
  width: 80px;
}

.w-\[90px\] {
  width: 90px;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.w-max {
  width: -moz-max-content;
  width: max-content;
}

.max-w-7xl {
  max-width: 80rem;
}

.grow {
  flex-grow: 1;
}

.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-\[-8deg\] {
  --tw-rotate: -8deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-\[7deg\] {
  --tw-rotate: 7deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.list-disc {
  list-style-type: disc;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-\[10x\] {
  gap: 10x;
}

.gap-\[15px\] {
  gap: 15px;
}

.gap-\[2\.5rem\] {
  gap: 2.5rem;
}

.gap-\[20px\] {
  gap: 20px;
}

.gap-\[25px\] {
  gap: 25px;
}

.gap-\[2px\] {
  gap: 2px;
}

.gap-\[30px\] {
  gap: 30px;
}

.gap-\[3px\] {
  gap: 3px;
}

.gap-\[45px\] {
  gap: 45px;
}

.gap-\[50px\] {
  gap: 50px;
}

.gap-\[5px\] {
  gap: 5px;
}

.gap-\[6px\] {
  gap: 6px;
}

.gap-\[9px\] {
  gap: 9px;
}

.space-y-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.overflow-hidden {
  overflow: hidden;
}

.text-wrap {
  text-wrap: wrap;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.rounded-\[13px\] {
  border-radius: 13px;
}

.rounded-\[16px\] {
  border-radius: 16px;
}

.rounded-\[28px\] {
  border-radius: 28px;
}

.rounded-\[8px\] {
  border-radius: 8px;
}

.rounded-\[9px\] {
  border-radius: 9px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-none {
  border-style: none;
}

.border-\[\#04369A\] {
  --tw-border-opacity: 1;
  border-color: rgb(4 54 154 / var(--tw-border-opacity, 1));
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
}

.bg-\[\#04369A\] {
  --tw-bg-opacity: 1;
  background-color: rgb(4 54 154 / var(--tw-bg-opacity, 1));
}

.bg-\[\#313131\] {
  --tw-bg-opacity: 1;
  background-color: rgb(49 49 49 / var(--tw-bg-opacity, 1));
}

.bg-\[\#E8E8E8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(232 232 232 / var(--tw-bg-opacity, 1));
}

.bg-\[\#EDEFF2\] {
  --tw-bg-opacity: 1;
  background-color: rgb(237 239 242 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F0F4F7\] {
  --tw-bg-opacity: 1;
  background-color: rgb(240 244 247 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F7F7F7\] {
  --tw-bg-opacity: 1;
  background-color: rgb(247 247 247 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F8F8F8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(248 248 248 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FF6A07\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 106 7 / var(--tw-bg-opacity, 1));
}

.bg-blue-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(191 219 254 / var(--tw-bg-opacity, 1));
}

.bg-blue-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1));
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
}

.bg-gray-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity, 1));
}

.bg-red-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity, 1));
}

.bg-sky-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(240 249 255 / var(--tw-bg-opacity, 1));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-\[url\(\"\/tearImage\"\)\] {
  background-image: url("/tearImage");
}

.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.bg-gradient-to-l {
  background-image: linear-gradient(to left, var(--tw-gradient-stops));
}

.bg-hero {
  background-image: url('/scraper-BG.svg');
}

.from-\[\#04369A\] {
  --tw-gradient-from: #04369A var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(4 54 154 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-white {
  --tw-gradient-from: #fff var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-black {
  --tw-gradient-to: #000 var(--tw-gradient-to-position);
}

.to-95\% {
  --tw-gradient-to-position: 95%;
}

.bg-contain {
  background-size: contain;
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.p-\[10px\] {
  padding: 10px;
}

.p-\[15px\] {
  padding: 15px;
}

.p-\[20px\] {
  padding: 20px;
}

.p-\[30px\] {
  padding: 30px;
}

.p-\[5px\] {
  padding: 5px;
}

.p-\[6px\] {
  padding: 6px;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}

.px-\[15px\] {
  padding-left: 15px;
  padding-right: 15px;
}

.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}

.px-\[40px\] {
  padding-left: 40px;
  padding-right: 40px;
}

.px-\[4px\] {
  padding-left: 4px;
  padding-right: 4px;
}

.px-\[5px\] {
  padding-left: 5px;
  padding-right: 5px;
}

.px-\[9px\] {
  padding-left: 9px;
  padding-right: 9px;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-\[12px\] {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-\[13px\] {
  padding-top: 13px;
  padding-bottom: 13px;
}

.py-\[15px\] {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-\[3px\] {
  padding-top: 3px;
  padding-bottom: 3px;
}

.py-\[4px\] {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-\[5px\] {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-\[105px\] {
  padding-bottom: 105px;
}

.pb-\[1rem\] {
  padding-bottom: 1rem;
}

.pb-\[50px\] {
  padding-bottom: 50px;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pl-\[10px\] {
  padding-left: 10px;
}

.pl-\[40px\] {
  padding-left: 40px;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-\[0\] {
  padding-right: 0;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-\[10px\] {
  padding-top: 10px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-\[10px\] {
  font-size: 10px;
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-\[35px\] {
  font-size: 35px;
}

.text-\[5px\] {
  font-size: 5px;
}

.text-\[6px\] {
  font-size: 6px;
}

.text-\[8px\] {
  font-size: 8px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.leading-\[40px\] {
  line-height: 40px;
}

.text-\[\#04369A\] {
  --tw-text-opacity: 1;
  color: rgb(4 54 154 / var(--tw-text-opacity, 1));
}

.text-\[\#858D9E\] {
  --tw-text-opacity: 1;
  color: rgb(133 141 158 / var(--tw-text-opacity, 1));
}

.text-\[\#AAAAAA\] {
  --tw-text-opacity: 1;
  color: rgb(170 170 170 / var(--tw-text-opacity, 1));
}

.text-\[\#FF6A07\] {
  --tw-text-opacity: 1;
  color: rgb(255 106 7 / var(--tw-text-opacity, 1));
}

.text-\[white\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity, 1));
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}

.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity, 1));
}

.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity, 1));
}

.text-orange-500 {
  --tw-text-opacity: 1;
  color: rgb(249 115 22 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-yellow-300 {
  --tw-text-opacity: 1;
  color: rgb(253 224 71 / var(--tw-text-opacity, 1));
}

.underline {
  text-decoration-line: underline;
}

.opacity-45 {
  opacity: 0.45;
}

.shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.hover\:bg-\[\#04369A\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(4 54 154 / var(--tw-bg-opacity, 1));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-inset:focus {
  --tw-ring-inset: inset;
}

.focus\:ring-white:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(255 255 255 / var(--tw-ring-opacity, 1));
}

@media (min-width: 640px) {
  .sm\:static {
    position: static;
  }

  .sm\:inset-auto {
    inset: auto;
  }

  .sm\:bottom-\[200px\] {
    bottom: 200px;
  }

  .sm\:right-\[20px\] {
    right: 20px;
  }

  .sm\:block {
    display: block;
  }

  .sm\:hidden {
    display: none;
  }

  .sm\:size-\[100\%\] {
    width: 100%;
    height: 100%;
  }

  .sm\:size-\[15px\] {
    width: 15px;
    height: 15px;
  }

  .sm\:size-\[20px\] {
    width: 20px;
    height: 20px;
  }

  .sm\:size-\[23px\] {
    width: 23px;
    height: 23px;
  }

  .sm\:size-\[50px\] {
    width: 50px;
    height: 50px;
  }

  .sm\:size-\[80px\] {
    width: 80px;
    height: 80px;
  }

  .sm\:size-\[90px\] {
    width: 90px;
    height: 90px;
  }

  .sm\:h-\[140px\] {
    height: 140px;
  }

  .sm\:h-\[90px\] {
    height: 90px;
  }

  .sm\:w-1\/2 {
    width: 50%;
  }

  .sm\:w-\[100px\] {
    width: 100px;
  }

  .sm\:w-\[110px\] {
    width: 110px;
  }

  .sm\:w-\[120px\] {
    width: 120px;
  }

  .sm\:w-\[170px\] {
    width: 170px;
  }

  .sm\:w-\[20px\] {
    width: 20px;
  }

  .sm\:w-\[220px\] {
    width: 220px;
  }

  .sm\:w-\[30px\] {
    width: 30px;
  }

  .sm\:w-\[330px\] {
    width: 330px;
  }

  .sm\:w-\[40\%\] {
    width: 40%;
  }

  .sm\:w-\[45\%\] {
    width: 45%;
  }

  .sm\:w-\[500px\] {
    width: 500px;
  }

  .sm\:w-\[55px\] {
    width: 55px;
  }

  .sm\:w-\[57\%\] {
    width: 57%;
  }

  .sm\:w-\[60\%\] {
    width: 60%;
  }

  .sm\:w-\[600px\] {
    width: 600px;
  }

  .sm\:w-\[70px\] {
    width: 70px;
  }

  .sm\:w-\[90px\] {
    width: 90px;
  }

  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:flex-col {
    flex-direction: column;
  }

  .sm\:items-stretch {
    align-items: stretch;
  }

  .sm\:justify-start {
    justify-content: flex-start;
  }

  .sm\:gap-\[10px\] {
    gap: 10px;
  }

  .sm\:gap-\[12px\] {
    gap: 12px;
  }

  .sm\:gap-\[15px\] {
    gap: 15px;
  }

  .sm\:gap-\[1px\] {
    gap: 1px;
  }

  .sm\:gap-\[20px\] {
    gap: 20px;
  }

  .sm\:gap-\[25px\] {
    gap: 25px;
  }

  .sm\:gap-\[30px\] {
    gap: 30px;
  }

  .sm\:gap-\[35px\] {
    gap: 35px;
  }

  .sm\:gap-\[3px\] {
    gap: 3px;
  }

  .sm\:gap-\[5px\] {
    gap: 5px;
  }

  .sm\:gap-\[7px\] {
    gap: 7px;
  }

  .sm\:gap-\[px\] {
    gap: px;
  }

  .sm\:p-\[12px\] {
    padding: 12px;
  }

  .sm\:p-\[15px\] {
    padding: 15px;
  }

  .sm\:p-\[20px\] {
    padding: 20px;
  }

  .sm\:p-\[25px\] {
    padding: 25px;
  }

  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sm\:px-\[100px\] {
    padding-left: 100px;
    padding-right: 100px;
  }

  .sm\:px-\[10px\] {
    padding-left: 10px;
    padding-right: 10px;
  }

  .sm\:px-\[12\] {
    padding-left: 12;
    padding-right: 12;
  }

  .sm\:px-\[1px\] {
    padding-left: 1px;
    padding-right: 1px;
  }

  .sm\:px-\[20px\] {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sm\:px-\[70px\] {
    padding-left: 70px;
    padding-right: 70px;
  }

  .sm\:py-\[4px\] {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .sm\:py-\[50px\] {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .sm\:py-\[8px\] {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .sm\:pb-\[80px\] {
    padding-bottom: 80px;
  }

  .sm\:pb-\[90px\] {
    padding-bottom: 90px;
  }

  .sm\:pr-0 {
    padding-right: 0px;
  }

  .sm\:pr-\[50px\] {
    padding-right: 50px;
  }

  .sm\:text-\[10px\] {
    font-size: 10px;
  }

  .sm\:text-\[12px\] {
    font-size: 12px;
  }

  .sm\:text-\[13px\] {
    font-size: 13px;
  }

  .sm\:text-\[14px\] {
    font-size: 14px;
  }

  .sm\:text-\[16px\] {
    font-size: 16px;
  }

  .sm\:text-\[18px\] {
    font-size: 18px;
  }

  .sm\:text-\[20px\] {
    font-size: 20px;
  }

  .sm\:text-\[24px\] {
    font-size: 24px;
  }

  .sm\:text-\[26px\] {
    font-size: 26px;
  }

  .sm\:text-\[30px\] {
    font-size: 30px;
  }

  .sm\:text-\[55px\] {
    font-size: 55px;
  }
}

@media (min-width: 768px) {
  .md\:text-\[12px\] {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .lg\:bottom-\[150px\] {
    bottom: 150px;
  }

  .lg\:left-\[175px\] {
    left: 175px;
  }

  .lg\:right-\[20px\] {
    right: 20px;
  }

  .lg\:top-\[90px\] {
    top: 90px;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:size-\[120px\] {
    width: 120px;
    height: 120px;
  }

  .lg\:size-\[20px\] {
    width: 20px;
    height: 20px;
  }

  .lg\:w-\[110px\] {
    width: 110px;
  }

  .lg\:w-\[140px\] {
    width: 140px;
  }

  .lg\:w-\[22px\] {
    width: 22px;
  }

  .lg\:w-\[250px\] {
    width: 250px;
  }

  .lg\:w-\[270px\] {
    width: 270px;
  }

  .lg\:w-\[350px\] {
    width: 350px;
  }

  .lg\:w-\[40\%\] {
    width: 40%;
  }

  .lg\:w-\[44\%\] {
    width: 44%;
  }

  .lg\:w-\[60\%\] {
    width: 60%;
  }

  .lg\:w-\[70\%\] {
    width: 70%;
  }

  .lg\:w-\[750px\] {
    width: 750px;
  }

  .lg\:w-full {
    width: 100%;
  }

  .lg\:max-w-\[600px\] {
    max-width: 600px;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:items-center {
    align-items: center;
  }

  .lg\:justify-between {
    justify-content: space-between;
  }

  .lg\:gap-4 {
    gap: 1rem;
  }

  .lg\:gap-\[10px\] {
    gap: 10px;
  }

  .lg\:gap-\[14px\] {
    gap: 14px;
  }

  .lg\:gap-\[15px\] {
    gap: 15px;
  }

  .lg\:gap-\[200px\] {
    gap: 200px;
  }

  .lg\:gap-\[20px\] {
    gap: 20px;
  }

  .lg\:gap-\[28px\] {
    gap: 28px;
  }

  .lg\:gap-\[30px\] {
    gap: 30px;
  }

  .lg\:gap-\[45px\] {
    gap: 45px;
  }

  .lg\:gap-\[51px\] {
    gap: 51px;
  }

  .lg\:gap-\[52px\] {
    gap: 52px;
  }

  .lg\:gap-\[55px\] {
    gap: 55px;
  }

  .lg\:p-\[35px\] {
    padding: 35px;
  }

  .lg\:p-\[60px\] {
    padding: 60px;
  }

  .lg\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .lg\:px-9 {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  .lg\:px-\[40px\] {
    padding-left: 40px;
    padding-right: 40px;
  }

  .lg\:px-\[50px\] {
    padding-left: 50px;
    padding-right: 50px;
  }

  .lg\:px-\[70px\] {
    padding-left: 70px;
    padding-right: 70px;
  }

  .lg\:px-\[7s5px\] {
    padding-left: 7s5px;
    padding-right: 7s5px;
  }

  .lg\:py-\[50px\] {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .lg\:py-\[60px\] {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .lg\:pb-\[100px\] {
    padding-bottom: 100px;
  }

  .lg\:pb-\[1rem\] {
    padding-bottom: 1rem;
  }

  .lg\:pt-\[40px\] {
    padding-top: 40px;
  }

  .lg\:text-center {
    text-align: center;
  }

  .lg\:text-\[12px\] {
    font-size: 12px;
  }

  .lg\:text-\[14px\] {
    font-size: 14px;
  }

  .lg\:text-\[16px\] {
    font-size: 16px;
  }

  .lg\:text-\[18px\] {
    font-size: 18px;
  }

  .lg\:text-\[20px\] {
    font-size: 20px;
  }

  .lg\:text-\[24px\] {
    font-size: 24px;
  }

  .lg\:text-\[25px\] {
    font-size: 25px;
  }

  .lg\:text-\[26px\] {
    font-size: 26px;
  }

  .lg\:text-\[28px\] {
    font-size: 28px;
  }

  .lg\:text-\[30px\] {
    font-size: 30px;
  }

  .lg\:text-\[38px\] {
    font-size: 38px;
  }

  .lg\:text-\[40px\] {
    font-size: 40px;
  }

  .lg\:text-\[45px\] {
    font-size: 45px;
  }

  .lg\:text-\[48px\] {
    font-size: 48px;
  }

  .lg\:text-\[50px\] {
    font-size: 50px;
  }

  .lg\:font-extrabold {
    font-weight: 800;
  }

  .lg\:leading-\[60px\] {
    line-height: 60px;
  }
}

@media (min-width: 1280px) {
  .xl\:left-\[400px\] {
    left: 400px;
  }

  .xl\:right-\[50px\] {
    right: 50px;
  }

  .xl\:top-\[140px\] {
    top: 140px;
  }

  .xl\:ml-\[50px\] {
    margin-left: 50px;
  }

  .xl\:size-\[30px\] {
    width: 30px;
    height: 30px;
  }

  .xl\:h-\[30px\] {
    height: 30px;
  }

  .xl\:h-\[46px\] {
    height: 46px;
  }

  .xl\:h-\[50px\] {
    height: 50px;
  }

  .xl\:w-\[1000px\] {
    width: 1000px;
  }

  .xl\:w-\[120px\] {
    width: 120px;
  }

  .xl\:w-\[200px\] {
    width: 200px;
  }

  .xl\:w-\[22rem\] {
    width: 22rem;
  }

  .xl\:w-\[250px\] {
    width: 250px;
  }

  .xl\:w-\[30px\] {
    width: 30px;
  }

  .xl\:w-\[330px\] {
    width: 330px;
  }

  .xl\:w-\[40\%\] {
    width: 40%;
  }

  .xl\:w-\[40px\] {
    width: 40px;
  }

  .xl\:w-\[43\%\] {
    width: 43%;
  }

  .xl\:w-\[45\%\] {
    width: 45%;
  }

  .xl\:w-\[50\%\] {
    width: 50%;
  }

  .xl\:w-\[50rem\] {
    width: 50rem;
  }

  .xl\:w-\[520px\] {
    width: 520px;
  }

  .xl\:w-\[600px\] {
    width: 600px;
  }

  .xl\:w-\[700px\] {
    width: 700px;
  }

  .xl\:w-\[80px\] {
    width: 80px;
  }

  .xl\:w-\[900px\] {
    width: 900px;
  }

  .xl\:flex-row {
    flex-direction: row;
  }

  .xl\:justify-center {
    justify-content: center;
  }

  .xl\:justify-between {
    justify-content: space-between;
  }

  .xl\:gap-\[100px\] {
    gap: 100px;
  }

  .xl\:gap-\[114px\] {
    gap: 114px;
  }

  .xl\:gap-\[12px\] {
    gap: 12px;
  }

  .xl\:gap-\[14px\] {
    gap: 14px;
  }

  .xl\:gap-\[15px\] {
    gap: 15px;
  }

  .xl\:gap-\[16px\] {
    gap: 16px;
  }

  .xl\:gap-\[20px\] {
    gap: 20px;
  }

  .xl\:gap-\[38px\] {
    gap: 38px;
  }

  .xl\:gap-\[45px\] {
    gap: 45px;
  }

  .xl\:gap-\[50px\] {
    gap: 50px;
  }

  .xl\:gap-\[55px\] {
    gap: 55px;
  }

  .xl\:gap-\[57px\] {
    gap: 57px;
  }

  .xl\:gap-\[70px\] {
    gap: 70px;
  }

  .xl\:gap-\[90px\] {
    gap: 90px;
  }

  .xl\:p-\[80px\] {
    padding: 80px;
  }

  .xl\:px-\[15px\] {
    padding-left: 15px;
    padding-right: 15px;
  }

  .xl\:px-\[40px\] {
    padding-left: 40px;
    padding-right: 40px;
  }

  .xl\:py-\[22px\] {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .xl\:py-\[72px\] {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .xl\:pb-\[150px\] {
    padding-bottom: 150px;
  }

  .xl\:pb-\[190px\] {
    padding-bottom: 190px;
  }

  .xl\:pl-\[45px\] {
    padding-left: 45px;
  }

  .xl\:text-\[15px\] {
    font-size: 15px;
  }

  .xl\:text-\[16px\] {
    font-size: 16px;
  }

  .xl\:text-\[20px\] {
    font-size: 20px;
  }

  .xl\:text-\[24px\] {
    font-size: 24px;
  }

  .xl\:text-\[26px\] {
    font-size: 26px;
  }

  .xl\:text-\[28px\] {
    font-size: 28px;
  }

  .xl\:text-\[30px\] {
    font-size: 30px;
  }

  .xl\:text-\[40px\] {
    font-size: 40px;
  }

  .xl\:text-\[48px\] {
    font-size: 48px;
  }

  .xl\:text-\[56px\] {
    font-size: 56px;
  }

  .xl\:text-\[80px\] {
    font-size: 80px;
  }

  .xl\:text-\[90px\] {
    font-size: 90px;
  }

  .xl\:text-\[96px\] {
    font-size: 96px;
  }

  .xl\:leading-\[110px\] {
    line-height: 110px;
  }

  .xl\:text-\[\] {
    color: ;
  }
}